@* Footer.razor *@
<footer class="main-footer">
    <hr />
    <div class="container py-4">
        <div class="row">
            <!-- Left Column: Logo & Contact Info -->
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="footer-widget about-widget">
                    <div class="logo mb-3">
                        <a href="/">
                            <img src="Media/logo.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
                        </a>
                    </div>
                    <ul class="contact-info list-unstyled">
                        <li>
                            <span class="icon fa fa-map-marker me-2"></span>
                            Jalan Ketari, 28700 Bentong, Pahang Darul Makmur
                        </li>
                        <li>
                            <span class="icon fa fa-phone me-2"></span>
                            1300-88-1148
                        </li>
                        <li>
                            <span class="icon fa fa-envelope me-2"></span>
                            support@imgncar.com
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Middle/Right Column: Quick Links -->
            <div class="col-md-6" style="margin-top:90px">
                <div class="footer-widget links-widget">
                    <h5 class="mb-3">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/contactus">Contact Us</a></li>
                        <li><a href="/FreAskQ">FAQs</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/terms">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom py-2 bg-light">
        <div class="container text-center">
            <p class="mb-0 small">
                Copyright 2025 &copy;
                <a href="#">Imagine Sdn Bhd</a>
            </p>
        </div>
    </div>
</footer>
