@* @namespace IMGNCar.Pages *@
@* @using IMGNCar.Components *@
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
@* @{ *@
@*     Layout = null; *@
@* } *@

@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <base href="~/" /> *@
@*     <title>My Blazor Server App</title> *@
@* </head> *@
@* <body> *@
@*     <component type="typeof(App)" render-mode="ServerPrerendered" /> *@
@*     <script src="_framework/blazor.server.js"></script> *@
@* </body> *@
@* </html> *@
