@page "/contactus"
@rendermode InteractiveServer
@inject NavigationManager NavManager

<PageTitle>Contact Us</PageTitle>

<h1 class="mb-4">Contact Us</h1>

<!--Default Section / Other Info-->
<section class="default-section other-info">
    <div class="auto-container">

        <div class="row clearfix">

            <!--Info Column-->
            <div class="column info-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <article class="inner-box">
                    <h3 class="margin-bott-20">Our Address</h3>
                    <div class="text margin-bott-40">Lorem Ipsum is simply dummy text of the printing and typese tting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </div>
                    <ul class="info-box">
                        <li><span class="icon flaticon-location"></span><strong>Address</strong> Mirpur New Bazar Road, Block-c, Dhaka-1210</li>
                        <li><span class="icon flaticon-technology-5"></span><strong>Phone</strong> (732) 803-01 03, (732) 806-01 04</li>
                        <li><span class="icon flaticon-interface-1"></span><strong>Email</strong> smaple@gmail.com</li>
                    </ul>
                </article>
            </div>

            <!--Image Column-->
            <div class="column image-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <article class="inner-box">
                    <figure class="image-box"><img src="resource/featured-image-34.jpg" alt=""></figure>
                </article>
            </div>

        </div>
    </div>
</section>

@code {

}
<style>
    h1, h2, h3 {
        color: #2c3e50;
        font-weight: 600;
    }
</style>