@page "/admin/booked"
@using IMGNCar.Components.Layout
@layout AdminLayout
@rendermode InteractiveServer
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Booked Cars</h3>

@code {

}
